<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="container' text-center">
    <h1>password generator</h1>
    <h2>your password is :-</h2>
    <h3 class="alert alert-warning">{{password}}</h3> 
<hr>
<br>
<br>
<form action="{% url 'home' %}">
    <input type="submit" value="GOT TO HOME PAGE" class ='btn btn-warning'></input>
</form>
</hr>
</div>