<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<img src="../generator/templetes/generator/hardy.jpg" alt="company logo" width="200px"> 
<div class="container text-center">
    <h1 class="alert alert-info">PASSWORD GENERATOR</h1>
        <div class="alert alert-danger">
            <form action= '{% url "password" %}'>

                <select name="length" id="length">  

                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10" selected="selected">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>

                </select> Length
            <br>
            <br>
            <input type="checkbox" name="uppercase">  UPPERCASE</input>
            <br>
            <br>
            <input type="checkbox" name="spcharacter">  SPECIAL CHARACTER </input>
            <br>
            <br>
            <input type="checkbox" name="numbers" >  NUMBERS</input>
            <br>
            <br>
            <input type="submit" value="generate password" class="btn btn-primary"></input>
            </form>
        </div>
<hr>

<!--<form action= '{% url "sani" %}'>

    <select name="length" id="length">  

        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10" selected="selected">10</option>
        <option value="11">11</option>
        <option value="12">12</option>

    </select>
<br>
<br>
<input type="checkbox" name="uppercase">UPPERCASE</input>
<br>
<br>
<input type="checkbox" name="sp character">SPECIAL CHARACTER </input>
<br>
<br>
<input type="checkbox" name="numbers">NUMBERS</input>
<br>
<br>
<label id ='date'>DATE</label>
<br>
<input type="date" id ='date' name="random" max="2023-12-30" min ='2000-01-01'></input>
<br>
<br>
<input type="submit" value="generate password"></input>
</form> -->
</hr>
<hr>
<h6 class ='alert alert-warning'>IN CASE YOU ARE CONFUSED PLEASE CLICK THIS LINK BELOW :-
<hr><a href="{% url 'about' %}" class="btn btn-warning">ABOUT THIS WEBSITE</a></hr>
</h6>
</div>
</body>

</html>