<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanidhya Kumar ghosal">
    <title>HTML TESTER</title>
</head>
<body>
    <!-- Hello this is my first code. -->
    Hello world This is my new laptop
    <h1>My laptop has following specification :-</h1>
    <ul>
        <li>CORE I3 PROCESSOR</li>
        <li>2000Mha battery</li>
        <li><h2>Also follwing apps :-</h2></li>
            <ol>
                <li>edge</li>
                <li>chrome</li>
            </ol>
    </ul>
    <h1>please visit my store at <a href='https://www.lenovo.com/in/en/d/deals?gclid=CjwKCAjwp9qZBhBkEiwAsYFsb3MVJ7wPsRMOhQMEbj4yxjaRF_PtKYX7UDi3Vmxwyo31-CVBaKPbAxoCPXsQAvD_BwE'>Laptop Website</a></h1>
    <h1>You can contact me at <a href="mailto:sanidhyakumarghosal@gmail.com">Email id</a></h1>
    <h1><a href="tel:+917008275929">Phone No</a></h1>
</body>
</html>
<html